@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;
  --font-*: initial;
  --spacing-*: initial;   
  --radius-*: initial;    
  --text-*: initial;
}

/* foundations */
@theme {
  /* TODO remove this */
  --background: oklch(0.9854 0.0013 286.38);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.9112 0.0067 286.27); /* #e1e1e6 */
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --primary: oklch(0.113 0.015 290.65);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

 --color-gray-0: #FFFFFF;
 --color-gray-50: #FBFBFC;
 --color-gray-100: #F7F7F8;
 --color-gray-200: #F2F2F3;
 --color-gray-300: #E5E5E6;
 --color-gray-400: #D9D9DA;
 --color-gray-500: #B2B2B3;
 --color-gray-600: #808081;
 --color-gray-700: #666667;
 --color-gray-800: #4D4D4C;
 --color-gray-900: #262627;
 --color-gray-1000: #000000;

 --color-slate-50: #F8FAFC;
 --color-slate-100: #F1F5F9;
 --color-slate-200: #E2E8F0;
 --color-slate-300: #C8D5E1;
 --color-slate-400: #94A3B8;
 --color-slate-500: #64748B;
 --color-slate-600: #475569;
 --color-slate-700: #334155;
 --color-slate-800: #1E293B;
 --color-slate-900: #0F172A;

 --color-blue-50: #E6F2FF;
 --color-blue-100: #9DCEFF;
 --color-blue-300: #53A9FF;
 --color-blue-500: #0A84FF; 
 --color-blue-700: #005DBB;
 --color-blue-900: #003B77;

 --color-red-50: #FDF2F1;
 --color-red-100: #F9D4D2;
 --color-red-300: #F08B85;
 --color-red-500: #E6483D;
 --color-red-700: #BE2318;
 --color-red-800: #9A1C13;
 --color-red-900: #64120D;

 --color-green-50: #ECFDF5;
 --color-green-100: #D1FAE5;
 --color-green-300: #6EE7B7;
 --color-green-500: #10B978;
 --color-green-700: #047857;
 --color-green-800: #065F46;
 --color-green-900: #064E3B;

 --color-purple-50: #F5EDFF;
 --color-purple-100: #DFC6FF;
 --color-purple-300: #B378FF;
 --color-purple-500: #873DE6;
 --color-purple-700: #561AA2;
 --color-purple-900: #2C065E;
 
 --color-yellow-50: #FFF6EA;
 --color-yellow-100: #FFDCAC;
 --color-yellow-300: #FFC36F;
 --color-yellow-500: #F4A22F;
 --color-yellow-700: #B06D0F;
 --color-yellow-900: #6C3F00;

 --spacing-0: 0px;
 --spacing-2: 2px;
 --spacing-4: 4px;
 --spacing-6: 6px;
 --spacing-8: 8px;
 --spacing-10: 10px;
 --spacing-12: 12px;
 --spacing-16: 16px;
 --spacing-20: 20px;
 --spacing-24: 24px;
 --spacing-28: 28px;
 --spacing-32: 32px;
 --spacing-40: 40px;
 --spacing-48: 48px;
 --spacing-56: 56px;
 --spacing-64: 64px;
 --spacing-80: 80px;
 --spacing-9999: 9999px;

 --radius-small: 4px;
 --radius-medium: 6px;
 --radius-large: 8px;
 --radius-xlarge: 12px;
 --radius-round: 9999px;
}

/* semantics */
@theme {
  --color-text-primary: var(--color-gray-1000);
  --color-text-primary-disabled: var(--color-gray-400);
  --color-text-secondary: var(--color-gray-700);
  --color-text-secondary-disabled: var(--color-gray-200);
  --color-text-tertiary: var(--color-slate-600);
  --color-text-error: var(--color-red-500);
  --color-text-inverted: var(--color-gray-0);
  --color-text-inverted-disabled: var(--color-gray-100);

  --color-background-track: var(--color-gray-300);
  --color-background-inverted: var(--color-gray-900);
  --color-background-brand: var(--color-blue-500);

  --color-border-500: var(--color-slate-500);
  --color-border-success: var(--color-green-500);
  --color-border-error: var(--color-red-500);
  --color-border-brand: var(--color-blue-500);

  --color-icon-primary: var(--color-gray-900);
  --color-icon-primary-disabled: var(--color-gray-300);
  --color-icon-secondary: var(--color-slate-500);
  --color-icon-secondary-disabled: var(--color-gray-200);
  --color-icon-inverted: var(--color-gray-0);
  --color-icon-inverted-disabled: var(--color-gray-100);
}

/* fonts */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-sans: 'Pretendard Variable', system-ui, -apple-system, sans-serif;
  
  /* Display & Decorative - 히어로, 주요 메시지 영역 */
  --text-display: 40px;
  --text-display--line-height: 1.4;
  --text-display--letter-spacing: -0.01em;

  --text-decorative-l: 40px;
  --text-decorative-l--line-height: 1.4;
  --text-decorative-l--letter-spacing: -0.01em;

  --text-decorative-m: 32px;
  --text-decorative-m--line-height: 1.4;
  --text-decorative-m--letter-spacing: -0.005em;

  --text-decorative-s: 24px;
  --text-decorative-s--line-height: 1.5;
  --text-decorative-s--letter-spacing: 0em;

  /* Headline - 섹션 주요 제목 */
  --text-h1: 32px;
  --text-h1--line-height: 1.25;
  --text-h1--letter-spacing: -0.005em;

  --text-h2: 28px;
  --text-h2--line-height: 1.25;
  --text-h2--letter-spacing: -0.0025em;

  --text-h3: 24px;
  --text-h3--line-height: 1.3;
  --text-h3--letter-spacing: 0em;

  /* Title - 카드, 모듈, 컴포넌트 제목 */
  --text-t1: 20px;
  --text-t1--line-height: 1.3;
  --text-t1--letter-spacing: 0em;

  --text-t2: 18px;
  --text-t2--line-height: 1.35;
  --text-t2--letter-spacing: 0em;

  --text-t3: 16px;
  --text-t3--line-height: 1.4;
  --text-t3--letter-spacing: 0em;

  /* Body - 본문, 설명 텍스트 */
  --text-body-l: 18px;
  --text-body-l--line-height: 1.5;
  --text-body-l--letter-spacing: 0em;

  --text-body-m: 16px;
  --text-body-m--line-height: 1.5;
  --text-body-m--letter-spacing: 0em;

  --text-body-s: 14px;
  --text-body-s--line-height: 1.45;
  --text-body-s--letter-spacing: 0em;

  --text-body-xs: 12px;
  --text-body-xs--line-height: 1.5;
  --text-body-xs--letter-spacing: 0em;

  /* Label - 버튼, 입력창, 태그 등 UI 요소 */
  --text-label-xl: 16px;
  --text-label-xl--line-height: 1.2;
  --text-label-xl--letter-spacing: 0em;

  --text-label-l: 14px;
  --text-label-l--line-height: 1.3;
  --text-label-l--letter-spacing: 0.01em;

  --text-label-m: 12px;
  --text-label-m--line-height: 1.3;
  --text-label-m--letter-spacing: 0.01em;

  --text-label-s: 11px;
  --text-label-s--line-height: 1.3;
  --text-label-s--letter-spacing: 0.02em;

  /* Caption - 보조 텍스트, 추가 정보 */
  --text-caption-l: 12px;
  --text-caption-l--line-height: 1.5;
  --text-caption-l--letter-spacing: 0em;

  --text-caption-m: 11px;
  --text-caption-m--line-height: 1.5;
  --text-caption-m--letter-spacing: 0em;

  --text-caption-s: 10px;
  --text-caption-s--line-height: 1.5;
  --text-caption-s--letter-spacing: 0em;

  /* Syntax - 코드 스니펫, 토큰 네임 등 코딩 텍스트 */
  --text-syntax-l: 16px;
  --text-syntax-l--line-height: 1.5;
  --text-syntax-l--letter-spacing: 0em;

  --text-syntax-m: 12px;
  --text-syntax-m--line-height: 1.5;
  --text-syntax-m--letter-spacing: 0em;

  --text-syntax-s: 10px;
  --text-syntax-s--line-height: 1.5;
  --text-syntax-s--letter-spacing: 0em;
}